django==5.2
django-filter
django-widget-tweaks
django-compressor
pandas
django-auditlog
django-formtools
fontawesomefree
pillow
django-phonenumber-field[phonenumbers]
django-auth-ldap
requests>=2.31.0
psycopg[binary]
django-environ