<dialog id="generic_modal" class="modal">
  <div class="modal-box relative my-4 max-h-[90vh] max-w-5xl min-w-xl w-fit rounded-box">
    <form method="dialog" class="absolute top-2 right-2 z-50">
      <button class="btn btn-sm btn-circle  btn-error hover:btn-error shadow-lg" title="Cerrar">✕</button>
    </form>
    <div
      id="generic_modal_content"
      hx-swap="innerHTML"
    >
      <!-- Contenido inicial con spinner -->
      <div class="flex flex-col items-center justify-center py-12 space-y-4">
        <span class="loading loading-spinner loading-lg text-primary"></span>
        <p class="text-base-content/70">Cargando...</p>
      </div>
    </div>
  </div>
</dialog>