{% extends 'includes/table.html' %}

{% block actions %}
  <td class="flex justify-center items-center gap-1">
    {% with obj.pk|stringformat:"s" as id %}

        {% comment %} Ver {% endcomment %}  
        {% url view_url id as view_url_id %}
        {% include 'includes/modal.html' with button_class='w-fit block w-10 btn btn-xs btn-info flex items-center justify-center' button_text='Ver' modal_id='view_'|add:id content_url=view_url_id %}
        
        {% comment %} Editar {% endcomment %}
        {% if obj.estado == 'pendiente' %}
        {% url edit_url id as edit_url_id %}
        {% include 'includes/modal.html' with button_class='w-fit block w-10 btn btn-xs btn-warning flex items-center justify-center' button_text='Editar' modal_id='edit_'|add:id content_url=edit_url_id %}
        {% endif %}

        {% comment %} Aprobar {% endcomment %}
        {% if obj.estado == 'pendiente'%}
            {% if request.user.is_moderador or request.user.is_admin %}
            {% url delete_url id as delete_url_id %}
            {% include 'includes/modal.html' with button_class='w-fit block w-10 btn btn-xs btn-success flex items-center justify-center' button_text='Aprobar' modal_id='delete_'|add:id content_url=delete_url_id %}
            {% endif %}
        {% endif %}
        
        {% comment %} Eliminar {% endcomment %}
        {% if obj.estado == 'pendiente' %}
        {% url delete_url id as delete_url_id %}
        {% include 'includes/modal.html' with button_class='w-fit block w-10 btn btn-xs btn-error flex items-center justify-center' button_text='Eliminar' modal_id='delete_'|add:id content_url=delete_url_id %}
        {% endif %}
    {% endwith %}
  </td>
{% endblock %}
