<div class="max-w-3xl mx-auto p-6">
    <!-- Header con progreso a la derecha - ARRIBA -->
    <div class="bg-base-100 pb-4 flex items-center justify-between flex-shrink-0">
        <!-- Título a la izquierda -->
        <div class="flex items-center gap-3">
            <div class="w-10 h-10 bg-primary text-primary-content rounded-full flex items-center justify-center">
                <i class="fas fa-edit text-sm"></i>
            </div>
            <div>
                <h1 class="text-lg font-bold">Reserva de Espacios</h1>
                <p class="text-xs text-base-content/60">Sistema integral de gestión</p>
            </div>
        </div>

        <!-- Progreso Visual Compacto a la derecha -->
        <div id="progress" class="flex items-center gap-2">
            {% for step in steps %}
            {% if step.active %}
            <div class="w-6 h-6 rounded-full flex items-center justify-center text-xs font-bold bg-primary text-primary-content"
                id="step-{{step.number}}">{{step.number}}</div>
            <span class="text-xs font-medium text-primary hidden sm:inline"
                id="step-{{step.number}}-text">{{step.label}}</span>
            {% else %}
            <div class="w-6 h-6 rounded-full flex items-center justify-center text-xs font-bold bg-base-300 text-base-content/60"
                id="step-{{step.number}}">{{step.number}}</div>
            <span class="text-xs font-medium text-base-content/60 hidden sm:inline"
                id="step-{{step.number}}-text">{{step.label}}</span>
            {% endif %}

            {% if not forloop.last %}
            <div class="w-3 h-0.5 bg-base-300" id="progress-line-{{step.number}}"></div>
            {% endif %}
            {% endfor %}

        </div>
    </div>

    <!-- Divisor -->
    <div class="divider mt-0"></div>

    <form class=" flex-1" method="POST" hx-post="{% url 'espacio_create' %}" hx-target="#generic_modal_content"
        hx-swap="innerHTML" id="ajax-form" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% block form_content %}
        {% endblock form_content %}
        {% block form_script %}
        {% endblock form_script %}

        <footer class="mt-2 flex justify-between ">
            {% if wizard.steps.prev %}
            <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}" class="btn ">
                <i class="fas fa-arrow-left"></i> Anterior
            </button>
            {% else %}
            <!-- si no hay paso previo, puedes poner un div vacío para que ocupe espacio -->
            <div></div>
            {% endif %}
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-check"></i> Confirmar y Crear
            </button>
        </footer>

    </form>
</div>