{% extends "includes/table_view.html" %}
{% load utils %}
{% load table_actions %}

{% block header %}
  <div class="bg-base-100 rounded-2xl shadow-sm p-8 mb-6">
    <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center gap-6">
      <div class="flex-1">
        <div class="flex items-center gap-3 mb-2">
          <div class="text-2xl text-primary">
            {% get_icon model.label|lower %}
          </div>
          <h1 class="text-3xl font-bold text-base-content">Gestión de Espacios</h1>
        </div>
        <p class="text-sm text-base-content/60 max-w-2xl">Administra y gestiona los espacios de la aplicación. Aquí podrás crear nuevos espacios, 
            editar espacios existentes y ver el historial de espacios.</p>
      </div>

    
        <div class="flex items-center gap-3">
            {% if request.user.is_admin %}
            <button
                onclick="openModal('{% url crud_urls.create %}')"
                class="btn btn-primary"
            >
                <i class="fas fa-plus text-xs"></i>
                Crear {{ model.label|capfirst|slice:':-1' }}
            </button>
            {% endif %}
        </div>
    </div>
  </div>
{% endblock %}

{% block actions %}
<td class="">
  <div class="p-2 flex items-center justify-center">
      
      {# Botones principales siempre visibles #}
      <div class="flex gap-1">
          {# Ver detalles #}
          {% if crud_urls.view %}
          <div class="tooltip" data-tip="Ver detalles">
              <button
                  onclick="openModal('{% url crud_urls.view obj.pk %}')"
                  class="btn btn-ghost btn-sm h-8 w-8 p-0"
              >
                  <i class="fas fa-eye text-xs"></i>
              </button>
          </div>
          {% endif %}

          {# Editar #}
          {% puede_editar obj as puede_editar_obj %}
          {% if puede_editar_obj and crud_urls.edit %}
          <div class="tooltip" data-tip="Editar">
              <button
                  onclick="openModal('{% url crud_urls.edit obj.pk %}')"
                  class="btn btn-ghost btn-sm h-8 w-8 p-0"
              >
                  <i class="fas fa-edit text-xs"></i>
              </button>
          </div>
          {% endif %}
      </div>

      {# Dropdown para acciones adicionales #}
      {% puede_eliminar obj as puede_eliminar_obj %}
      {% puede_aprobar obj as puede_aprobar_obj %}
      {% if puede_eliminar_obj%}
      <div class="tooltip" data-tip="Eliminar">
        <button
        onclick="openModal('{% url crud_urls.delete obj.pk %}')"
        class="btn btn-ghost btn-sm h-8 w-8 p-0 text-error"
    >
        <i class="fas fa-trash text-xs"></i>
       </button>
      </div>
      {% endif %}
  </div
</td>
{% endblock actions %}

