{% extends "base.html" %}
{% load form_style %}

{% block content %}
<div class="container mx-auto ">

  <div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Iniciar Sesion</h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
          quasi. In deleniti eaque asdasdsaaut repudiandae et a id nisi.
        </p>
      </div>
      <div class="card bg-base-300 w-full max-w-sm shrink-0 shadow-2xl">
        <div class="card-body">
          <fieldset class="fieldset">

            <form method="post">
              {% csrf_token %}
  
              {{ form|mystyle }}
              <button class="mt-2 btn btn-accent" type="submit"><span class="text-white">Login</span></button>
            </form>
           
          </fieldset>
        </div>
      </div>
    </div>
  </div>


</div>

{% endblock content %}

