{% extends 'base.html' %}
{% load form_style %}
{% load static %}

{% block content %}
  <div class="hero h-[calc(100vh-4rem)] bg-cover bg-center" style="background-image: url('{% static 'src/images/background.webp' %}');">
    <div class="hero-overlay bg-opacity-80"></div>
    <div class="hero-content text-neutral-content">
      <div class="flex flex-col lg:flex-row-reverse items-center justify-center w-full max-w-6xl mx-auto px-4">
        <div class="text-center lg:text-left lg:ml-12">
          <h1 class="text-5xl font-bold text-black mb-6">Iniciar Sesión</h1>
          <div class="divider divider-primary"></div>
          <p class="mb-8 text-lg text-secondary font-bold max-w-md">
            Inicia sesión para acceder a tus reservas y gestionar tus espacios.
          </p>
        </div>
        <div class="card bg-base-100 w-full max-w-sm shadow-2xl">
          <div class="card-body">
            <form method="post" class="w-full">
              {% csrf_token %}
              {{ form|mystyle }}
              <button class="btn btn-accent w-full mt-4" type="submit">
                <span class="text-white">Iniciar Sesión</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
