{% extends "includes/multistep_ajax_base.html" %}
{% load render_field_msg %}
{% load widget_tweaks %}

{% block form_content %}
<div class="space-y-6">
    {% csrf_token %}
    <!-- Información del Solicitante -->
    <div id="info_solicitante"
        class="card bg-primary/5 border border-base-300 hover:border-primary/30 transition-all duration-300 p-4">
        <div class="flex items-center gap-3 mb-4">
            <div class="w-8 h-8 bg-primary/10 rounded-full flex items-center justify-center">
                <i class="fas fa-user text-primary"></i>
            </div>
            <div>
                <h3 class="font-semibold">Información del Solicitante</h3>
                <p class="text-sm text-base-content/60">Datos de la persona que solicita la reserva</p>
            </div>
        </div>

        <div class="space-y-4 px-4 grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Usuario Solicitante -->
            <div>
                <div class="form-control">
                    <label class="flex justify-between items-center" for="{{ form.p00_solicitante.id_for_label }}">
                        <span class="flex items-center gap-2">
                            <i class="fas fa-at h-4 w-4"></i>
                            P00 del usuario
                        </span>
                        {% if form.p00_solicitante.field.required %}
                        <span class="badge badge-xs badge-outline badge-error">Requerido</span>
                        {% endif %}
                    </label>
                    {{ form.p00_solicitante|add_class:"w-full input-disabled bg-base-200" }}
                </div>
                {% field_messages form.p00_solicitante %}
            </div>

            <!-- Nombre Completo -->
            <div>
                <div class="form-control">
                    <label class="flex justify-between items-center" for="{{ form.nombre_solicitante.id_for_label }}">
                        <span class="flex items-center gap-2">
                            <i class="fas fa-user h-4 w-4"></i>
                            Nombre Completo
                        </span>
                        {% if form.nombre_solicitante.field.required %}
                        <span class="badge badge-xs badge-outline badge-error">Requerido</span>
                        {% endif %}
                    </label>
                    {{ form.nombre_solicitante|add_class:"w-full input-disabled bg-base-200" }}
                </div>
                {% field_messages form.nombre_solicitante %}
            </div>

            <!-- Teléfono -->
            <div>
                <div class="form-control">
                    <label class="flex justify-between items-center" for="{{ form.telefono_solicitante.id_for_label }}">
                        <span class="flex items-center gap-2">
                            <i class="fas fa-phone h-4 w-4"></i>
                            Teléfono
                        </span>
                        {% if form.telefono_solicitante.field.required %}
                        <span class="badge badge-xs badge-outline badge-error">Requerido</span>
                        {% endif %}
                    </label>
                    {{ form.telefono_solicitante }}
                </div>
                {% field_messages form.telefono_solicitante %}
            </div>


        </div>
    </div>

    <!-- Información General -->
    <div id="info_general"
        class="card bg-primary/5 border border-base-300 hover:border-primary/30 transition-all duration-300 p-4 ">
        <div class="flex items-center gap-3 mb-2">
            <div class="w-8 h-8 bg-primary/10 rounded-full flex items-center justify-center">
                <i class="fas fa-info-circle text-primary"></i>
            </div>
            <div>
                <h3 class="font-semibold"> Información General</h3>
                <p class="text-sm text-base-content/60">Proporciona la información general de la reserva</p>
            </div>

        </div>
        <div class="space-y-4 px-4 grid grid-cols-2 gap-4">
            <!-- Campo tipo de solicitud -->
            <div>
                <div class="form-control">
                    <label class="flex justify-between items-center" for="{{ form.tipo_solicitud.id_for_label }}">
                        <span>
                            <i class="fas fa-tag h-4 w-4 "></i>
                            Tipo de solicitud
                        </span>

                        {% if form.tipo_solicitud.field.required %}
                        <span class="badge badge-xs badge-outline badge-error">Requerido</span>
                        {% endif %}
                    </label>

                    {{ form.tipo_solicitud }}
                </div>

                {% field_messages form.tipo_solicitud %}

            </div>
            <!-- Campo modalidad -->
            <div>
                <div class="form-control">
                    <label class="flex justify-between items-center" for="{{ form.modalidad.id_for_label }}">
                        <span class="flex justify-between items-center gap-2">
                            <i class="fas fa-laptop h-4 w-4  "></i>
                            Modalidad
                        </span>
                        {% if form.modalidad.field.required %}
                        <span class="badge badge-xs badge-outline badge-error">Requerido</span>
                        {% endif %}
                    </label>
                    {{ form.modalidad }}
                </div>
                {% field_messages form.modalidad %}

            </div>

            <!-- Campo tipo de actividad -->
            <div class="col-span-2">
                <div class="form-control">
                    <label class="flex justify-start items-center" for="{{ form.tipo_actividad.id_for_label }}">
                        <span>
                            <i class="fas fa-tasks h-4 w-4 "></i>
                            Tipo de actividad
                        </span>
                        {% if form.tipo_actividad.field.required %}
                        <span class="badge badge-xs badge-outline badge-error">Requerido</span>
                        {% endif %}

                    </label>
                    {{ form.tipo_actividad|add_class:"select2 " }}
                </div>
                {% field_messages form.tipo_actividad %}
            </div>
        </div>
    </div>
    <!-- Fecha y horario -->
    <div id="fecha_horario"
        class="card bg-primary/5 border border-base-300 hover:border-primary/30 transition-all duration-300 p-4">
        <div class="flex items-center gap-3 mb-4">
            <div class="w-8 h-8 bg-primary/10 rounded-full flex items-center justify-center">
                <i class="fas fa-calendar-alt text-primary"></i>
            </div>
            <div>
                <h3 class="font-semibold">Fecha y horario</h3>
                <p class="text-sm text-base-content/60">Proporciona la fecha y horario de la reserva</p>
            </div>
        </div>

        <div class="space-y-4 px-4 grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Campo fecha de uso -->
            <div class="md:col-span-2">
                <div class="form-control">
                    <label class="flex justify-between items-center" for="{{ form.fecha_uso.id_for_label }}">
                        <span class="flex items-center gap-2">
                            <i class="fas fa-calendar-day h-4 w-4"></i>
                            Fecha de uso
                        </span>
                        {% if form.fecha_uso.field.required %}
                        <span class="badge badge-xs badge-outline badge-error">Requerido</span>
                        {% endif %}
                    </label>
                    {{ form.fecha_uso|add_class:"w-full" }}
                </div>
                {% field_messages form.fecha_uso %}
            </div>

            <!-- Campo hora de inicio (corregido) -->
            <div>
                <div class="form-control">
                    <label class="flex justify-between items-center" for="{{ form.hora_inicio.id_for_label }}">
                        <span class="flex items-center gap-2">
                            <i class="fas fa-hourglass-start h-4 w-4"></i>
                            Hora de inicio
                        </span>
                        {% if form.hora_inicio.field.required %}
                        <span class="badge badge-xs badge-outline badge-error">Requerido</span>
                        {% endif %}
                    </label>
                    {{ form.hora_inicio|add_class:"w-full" }}
                </div>
                {% field_messages form.hora_inicio %}
            </div>

            <!-- Campo hora de fin (corregido) -->
            <div>
                <div class="form-control">
                    <label class="flex justify-between items-center" for="{{ form.hora_fin.id_for_label }}">
                        <span class="flex items-center gap-2">
                            <i class="fas fa-hourglass-end h-4 w-4"></i>
                            Hora de fin
                        </span>
                        {% if form.hora_fin.field.required %}
                        <span class="badge badge-xs badge-outline badge-error">Requerido</span>
                        {% endif %}
                    </label>
                    {{ form.hora_fin|add_class:"w-full" }}
                </div>
                {% field_messages form.hora_fin %}
            </div>
        </div>
    </div>

    <!-- Detalles de la reserva -->
    <div id="descripcion"
        class="card bg-primary/5 border border-base-300 hover:border-primary/30 transition-all duration-300 p-4">
        <div class="flex items-center gap-3 mb-4">
            <div class="w-8 h-8 bg-primary/10 rounded-full flex items-center justify-center">
                <i class="fas fa-paragraph text-primary"></i>
            </div>
            <div>
                <h3 class="font-semibold">Motivo</h3>
                <p class="text-sm text-base-content/60">Describe el motivo de la reserva</p>
            </div>
        </div>

        <div class="space-y-4 px-4">
            <!-- Campo Motivo -->
            <div>
                <div class="form-control">
                    <label class="flex justify-between items-center" for="{{ form.motivo.id_for_label }}">
                        <span class="flex items-center gap-2">
                            <i class="fas fa-info-circle h-4 w-4"></i>
                            Motivo (max. 250 caracteres)
                        </span>

                        {% if form.motivo.field.required %}
                        <span class="badge badge-xs badge-outline badge-error">Requerido</span>
                        {% endif %}
                    </label>
                    {{ form.motivo|add_class:"textarea textarea-bordered w-full resize-none" }}
                </div>
                <div class="text-xs text-base-content/60 mt-1">
                    Describe brevemente el propósito de la reserva
                </div>
                {% field_messages form.motivo %}
            </div>
        </div>
    </div>

</div>
{% endblock %}