
{% load tailwind_filters %}
{% load utils %}
{% load crispy_forms_tags %}


<div class="p-4 mt-2 rounded-box">
  <div class="flex items-center gap-3 mb-2">
    <div class="text-2xl text-primary">

      <li class=" fas fa-info-circle"></li>

    </div>
    <h1 class="text-3xl font-bold text-base-content">{{title}}</h1>
</div>
  <div class="px-8 py-4 mt-2 rounded-box bg-base-200">
    <form
      method="POST"
      hx-post="{{url}}"
      hx-target="#generic_modal_content"
      hx-swap="innerHTML"
    >
      {% csrf_token %}
      {# Renderiza solo el formulario con crispy, sin botón adicional #}
      {% crispy form %}
    </form>
  </div>
</div>

