{% load tailwind_filters %}
<h2 class="text-center text-2xl text-base-content/80 font-bold">{{ html_title }}</h2>
<div class="p-2 mt-2 rounded-box">
  <form
    method="POST"
    hx-post="{% url 'reserva_create' %}"
    hx-target="#generic_modal_content"
    hx-swap="innerHTML"
  >
    {% csrf_token %}
    {{ form|crispy }}
    <div class="flex justify-end mt-4">
      <button type="submit" class="btn btn-success">Guardar</button>
    </div>
  </form>
</div>

<script>
  // Re-inicializa tus Select2 tras cada swap de HTMX
  document.body.addEventListener('htmx:afterSwap', function(event) {
    if (event.detail.target.id === 'generic_modal_content') {
      $("#id_espacio").select2({
        dropdownParent: $('#generic_modal'),
        width: '100%'
      });
      $("#id_usuario").select2({
        dropdownParent: $('#generic_modal'),
        width: '100%'
      });
    }
  });
</script>
