{% extends 'base.html' %}
{% load form_style %}
{% load static %}
{% block content %}

<div class="container max-w-3/4 mx-auto px-4">

    <div class="w-full" x-data="{ showFilters: false }" @click.away="showFilters = false">

      {# —————— FORMULARIO DE FILTROS —————— #}
      <form  method="get" class="mb-6">
    
        {# ——— Bloque colapsable de filtros ——— #}
        <div 
          x-show="showFilters"
          x-transition:enter="transition ease-out duration-200"
          x-transition:enter-start="opacity-0 -translate-y-2"
          x-transition:enter-end="opacity-100 translate-y-0"
          x-transition:leave="transition ease-in duration-150"
          x-transition:leave-start="opacity-100 translate-y-0"
          x-transition:leave-end="opacity-0 -translate-y-2"
          @click.stop
          class="mt-4 p-6 bg-base-200 border border-base-300 rounded-box shadow-lg"
        >
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ filter.form|mystyle }}
          </div>
          <div class="mt-6 pt-4 border-t border-base-300 flex justify-end gap-2">
      
        <!-- Limpiar -->
        <a href="{{ request.path }}" class="btn btn-xs btn-warning flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
          </svg>
          <span class="text-xs">Limpiar</span>
        </a>
        <!-- Filtros -->
        <button type="submit" class="btn btn-xs btn-primary flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 019 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
          </svg>
          <span class="text-xs">Aplicar</span>
        </button>
    
          </div>
        </div>
      </form>
      {# ——————————————————————————————— #}
    
     
    {# —————— ACCIONES —————— #}
    
    <div class="mb-5 flex justify-between items-baseline">
      <h1 class="text-4xl font-extrabold text-base-content/80">Gestion de {{model|capfirst}}s</h1>
      
      <div class="flex gap-4 mb-2">

        {% url create_url as create_url %}
    
        <!-- Modal Añadir -->
        {% include 'includes/modal.html' with button_class='btn btn-xs btn-success flex  items-center justify-center' button_text='Añadir ✚' modal_id='test' content_url=create_url   %}

        <!-- Filtros -->
        <button @click="showFilters = !showFilters" class="btn btn-xs btn-info flex  items-center justify-center ">
          <span class="text-xs">Filtros</span>
          
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 019 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
          </svg>
        </button>
      
        <!-- Limpiar -->
        <a href="{{ request.path }}" class="btn btn-xs btn-warning flex  items-center justify-center ">
          <span class="text-xs">Limpiar</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
          </svg>
        </a>
    
      </div>
      {# ——————————————————————————————— #}
    </div>

    {% if model == 'reserva' %}
    {% include 'includes/reservas_table.html' %}

    {% elif model == 'espacio' %}
    {% include 'includes/espacios_table.html' %}
    
    {% elif model == 'usuario' %}
    {% include 'includes/usuarios_table.html' %}
    
    {% endif %}
  </div>
{% endblock %}
