{% load compress %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reservas CANTV</title>
  {% compress css %}
  <link rel="stylesheet" href="{% static 'src/output.css' %}" />
  {% endcompress %}
</head>

<body class="neutral-color flex flex-col min-h-screen">
  <c-nav_main logo='https://upload.wikimedia.org/wikipedia/commons/c/c7/Cantv_logo.PNG' title=" Reservas"
    :dashboard_access=dashboard_access />

  <div class="flex-grow container max-w-6xl mx-auto p-8 sm:px-6 lg:px-8">
    {% block content %} {% endblock %}
  </div>

  <c-footer></c-footer>

  <!-- Alpine.js (deferred para que no bloquee el parseo del HTML) -->
  <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</body>

</html>