<c-vars title="Untitled" />
<dialog x-data @close-modal.window="$el.remove()" x-init="$el.showModal()"
  class="p-3 rounded-lg border max-h-screen overflow-auto w-11/12 lg:w-fit lg:min-w-96 max-w-screen-lg">
  <div class="flex flex-col gap-6">
    <header class="flex items-center justify-between">
      <h3 class="text-xl">{{ title }}</h3>
      <button x-data @click="$dispatch('close-modal')" type="button" class="text-slate-600">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </button>
    </header>
    <main class="grow">
      {{ slot }}
    </main>
  </div>
</dialog>