<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded shadow max-w-md w-full">
    <h2 class="text-lg font-semibold mb-4">{{title}}</h2>
    <div>
    {{content}}



    </div>




      <div class="space-y-2 text-sm">
      <template x-for="(value, key) in formData" :key="key">
        <p>
          <span class="font-semibold capitalize" x-text="key"></span>:
          <span x-text="value"></span>
        </p>
      </template>
    </div>

    <div class="flex justify-end gap-2 mt-6">

      {% if confirmText %}
          <button @click={{refSubmmit}} class="px-3 py-1 bg-green-600 text-white rounded">{{confirmText}}</button>
      {% endif %}
      <button @click="{{refClose}}" class="px-3 py-1 bg-gray-300 rounded">Cerrar</button>
    </div>
  </div>
</div>