{% load cotton %}
<nav class="bg-white shadow p-2">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      {# Branding: Logo + Título #}
      <div class="flex items-center space-x-3">
        <img src="{{ logo }}" alt="Logo" class="h-10 w-15 -mb-2" />

        <a href={% url "dashboard" %}>
          <span class="text-xl font-bold text-gray-800 text-shadow-amber-200">{{ title }}</span>
        </a>
      </div>

      {# Menú de navegación #}
      <div class="flex items-center gap-5">
        {% if request.user.is_authenticated %}
          <c-nav.link url={% url 'dashboard' %}> Inicio </c-nav.link>
        
          {# Dropdowns por cada modelo con permisos #}
          {% for model, perms in dashboard_access.items %}

            <c-nav.dropdown title={{model|capfirst }}s>

              {% if 'view' in perms or 'change' in perms or 'delete' in perms %}
                <c-nav.dropdown.item href="{% url model %}">
                  Gestionar {{ model|capfirst }}
                </c-nav.dropdown.item>
              {% endif %}

              {% if 'add' in perms %}
                <c-nav.dropdown.item href="{% url model|add:'_create' %}">
                  Crear {{ model|capfirst }}
                </c-nav.dropdown.item>
              {% endif %}

            </c-nav.dropdown>
          {% endfor %}

          {# Cerrar sesión #}
          <c-nav.link url={% url 'dashboard' %}> Cerrar sesión </c-nav.link>
        
          {% else %}
          {# Si no está autenticado, sólo “Iniciar sesión” #}

          <c-nav.link url={% url 'dashboard' %}> Iniciar sesión </c-nav.link>
        {% endif %}
      </div>
    </div>
  </div>
</nav>