{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en" x-data="themeSwitcher()" x-init="init()">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservas CANTV</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/css/output.css' %}" />
    {% endcompress %}
  </head>

  <body class=" bg-base-100 flex flex-col min-h-screen">
    <div class="drawer">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <div class="navbar bg-base-200 w-full">
          <div class="flex-none lg:hidden">
            <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-6 w-6 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </label>
          </div>
          <div class="mx-2 flex-1 px-2">
            <div>
              <a href="{% url 'dashboard' %}" class="inline-block transition-transform duration-300 hover:scale-110">{% include 'includes/logo.html' %}</a>
            </div>
          </div>
          <div class="hidden flex-none lg:block">
            <ul class="menu menu-horizontal">
              {% if request.user.is_authenticated %}
                <li>
                  <a href="{% url 'dashboard' %}">Inicio</a>
                </li>

                {# Dropdowns por cada modelo con permisos #}
                {% for model, perms in dashboard_access.items %}
                  <li>
                    <a href="{% url model %}">{{ model|capfirst }}s</a>
                  </li>
                {% endfor %}

                {# Cerrar sesión #}
                <li>
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Cerrar sesión</button>
                </form>
                </li>
              {% else %}
                {# Si no está autenticado, sólo “Iniciar sesión” #}
                <li>
                  <a href="{% url 'login' %}">Iniciar sesión</a>
                </li>
              {% endif %}
                <li>
                  {% include 'includes/switch_theme.html' %}
                </li>
            </ul>
          </div>
        </div>
        <!-- Page content here -->
        <div>
          {% block content %}

          {% endblock %}
        </div>
      </div>

      <!-- Sidebar -->
      <div class="drawer-side">
        <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>

        <ul class="menu bg-base-200 min-h-full w-80 p-4">
          <li class="menu-title text-base-content">
            <p>Panel de {{ group }}</p>
          </li>
          <div class="divider"></div>
          <!-- Sidebar content here -->
          {% if request.user.is_authenticated %}
            <li>
              <a href="{% url 'dashboard' %}">Inicio</a>
            </li>

            {# Dropdowns por cada modelo con permisos #}
            {% for model, perms in dashboard_access.items %}
              <li>
                <a href="{% url model %}">{{ model|capfirst }}s</a>
              </li>
            {% endfor %}

            {# Cerrar sesión #}
            <li>
              <a url="{% url 'logout' %}">Cerrar sesión</a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'login' %}">Iniciar sesión</a>
            </li>
          {% endif %}
          <li>
            {% include 'includes/switch_theme.html' %}
          </li>
        </ul>
      </div>
    </div>

    <script>
      function themeSwitcher() {
        return {
          // usamos booleano para simplificar el binding con el checkbox
          dark: localStorage.getItem('theme') === 'dark',
      
          init() {
            // al iniciar, aplicamos el tema según localStorage o preferencia del sistema
            this.applyTheme(this.dark)
          },
      
          toggle() {
            // invocado al hacer click sobre el swap
            this.dark = !this.dark
            this.applyTheme(this.dark)
          },
      
          applyTheme(isDark) {
            // ponemos el atributo data-theme que DaisyUI utiliza
            document.documentElement.setAttribute('data-theme', isDark ? 'dark' : 'light')
            // guardamos la preferencia
            localStorage.setItem('theme', isDark ? 'dark' : 'light')
          }
        }
      }
    </script>

    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>

    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </body>
</html>
