{% extends "template.html" %}

{% block enlaces %}
{% comment "Estilo de los enlaces" %}{% endcomment %}
{% with estilo_enlaces="text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium" %}
<a href="/" class="estilo_enlaces">Inicio</a>
<a href="login" class="estilo_enlaces">Login</a>
<a href="signup" class="estilo_enlaces">Signup</a>
{% endwith %}
{% endblock enlaces %}

{% block contenido %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>

{% endblock contenido %}

